Flask
gspread
oauth2client
pandas
numpy
twilio
pytz
urllib3
tzdata
Six
pyparsing
Pygments
pyasn1
oauthlib
mdurl
MarkupSafe
lxml
itsdangerous
idna
click
charset-normalizer
certifi
cachetools
blinker
Werkzeug
rsa
requests
python-dateutil
pyasn1-modules
markdown-it-py
Jinja2
httplib2
rich
requests-oauthlib
google-auth
google-auth-oauthlib
flask_cors
axios
